---
title: Professional interpreters and translators for hire
---

.row.justify-content-center
  .col-sm-8
    .hero
      markdown:
        # Work with <span class='highlight'>professional interpreters</span> and <span class='highlight'>translators</span> in the Philippines

        Since 1991, hundreds of clients and organizations trust Hachi's language services
      .social-proof
        ul.logo-list.list-inline
          li.list-inline-item = image_tag "toyota-logo.png"
          li.list-inline-item = image_tag "panasonic-logo.png"
          li.list-inline-item = image_tag "rohm-logo.png"
          li.list-inline-item = image_tag "isuzu-logo.png"
          li.list-inline-item = image_tag "mitsubishi-logo.png"

.row
  .col-sm-12
    .row
      .col-sm-12
        h2.text-center Looking for language services?
    .row.justify-content-around
      .col-sm-5
        markdown:
          ### Intepreters For Hire

          A lot of important points during conversations can get lost in translation. Speech patterns, tone, and other small nuances are important parts of communication that are hard to interpret. We'll make sure you get to convey what you really mean.

          #### Long-term engagement

          - Staff augmentation
          - On-site interpreters

          #### Short-term engagement

          - Court hearings
          - Conferences
          - Important meetings
          - Seminars
          - Factory Visits
          - ISO audits
          - Workshops
          - Events

      .col-sm-5
        markdown:
          ### Translation Deliverables

          We receive your material, then we deliver via email or physical print outs.

          #### Technical materials

          - Factory manuals
          - Blueprints
          - Legal documents/contracts
          - Schematics
          - Whitepapers

          #### General purpose deliverables

          - Anime dubbing
          - Marketing Materials
          - Product Labels
          - Website Translation

.row
  .col-sm-12
    h2.text-center Looking for interpretation and translation work?

.row.align-items-center
  .col-md-5
    h2 Contact Us
    h4 Hachi International Inc.,

    dl.row
      dt.col-sm-3 Address
      dd.col-sm-9 2315 Suter St. Santa Ana Manila, Philippines 1009

      dt.col-sm-3 Contact Number
      dd.col-sm-9 +632-564-44-73

      dt.col-sm-3 Fax Number
      dd.col-sm-9 +632-564-63-49

      dt.col-sm-3 Email
      dd.col-sm-9 hello@hachiinternational.com

  .col-md-7
    iframe frameborder="0" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m8!1m3!1d7722.709679957664!2d121.0122782!3d14.5788454!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d14.5804444!2d121.01118389999999!5e0!3m2!1sen!2sph!4v1431594158220" style="border:0" width="100%"

